<div *ngIf="meal$ | async as lunch" class="details-outer">
  <mat-card class="lunch-card">
    <mat-card-header>
      <mat-card-title>{{ lunch.strMeal }}</mat-card-title>
      <mat-card-subtitle
        >{{ lunch.strArea }} {{ lunch.strCategory }}</mat-card-subtitle
      >
    </mat-card-header>

    <img
      mat-card-image
      class="lunch-pic"
      [src]="lunch.strMealThumb"
      [alt]="lunch.strMeal"
    />

    <mat-card-content>
      <div class="links">
        <a
          *ngIf="lunch.strSource"
          id="full-recipe-link"
          [href]="lunch.strSource"
          title="{{ lunch.strMeal }} - Full Recipe"
          target="_blank"
          >Full Recipe</a
        >

        <a
          id="search-link"
          [href]="lunch.searchUrl"
          title="{{ lunch.strMeal }} - Order Online"
          target="_blank"
          >Order Online</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
