.details-outer {
  display: inline-flex;
  margin: 10px;

   .lunch-card {
      max-width: 350px;
      
      .links {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
      }
   }
}
