<div *ngFor="let lunch of meals$ | async" class="details-outer">
  <mat-card class="lunch-card">
    <mat-card-header>
      <mat-card-title>{{ lunch.strMeal }}</mat-card-title>
      <mat-card-subtitle
        >{{ lunch.strArea }} {{ lunch.strCategory }} Dish</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          mat-mini-fab
          color="warn"
          title="Remove Lunch Idea"
          (click)="remove(lunch.idMeal)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>

    <div
      class="center"
      (click)="toggleMode(lunch.idMeal)"
      (swipeleft)="toggleMode(lunch.idMeal)"
      (swiperight)="toggleMode(lunch.idMeal)"
    >
      <section
        name="lunch-image"
        *ngIf="lunch.displayMode === allModes.Image"
        title="See Ingredients"
      >
        <mat-progress-spinner
          *ngIf="lunch.isLoading"
          class="pic-loading"
          mode="indeterminate"
        ></mat-progress-spinner>

        <img
          mat-card-image
          class="lunch-pic"
          [src]="lunch.strMealThumb"
          [alt]="lunch.strMeal"
          (load)="imageLoaded(lunch.idMeal)"
        />
      </section>
      <section
        name="lunch-ingredients"
        *ngIf="lunch.displayMode === allModes.Ingredients"
        title="See Image"
      >
        <h2>Ingredients</h2>
        <ingredients [ingredients]="lunch.ingredients"></ingredients>
      </section>
    </div>

    <mat-card-content>
      <div class="links">
        <a
          mat-button
          *ngIf="lunch.strSource"
          id="full-recipe-link"
          [href]="lunch.strSource"
          title="{{ lunch.strMeal }} - Full Recipe"
          target="_blank"
          >Full Recipe</a
        >

        <a
          mat-button
          id="search-link"
          [href]="lunch.searchUrl"
          title="{{ lunch.strMeal }} - Order Online"
          target="_blank"
          >Order Online</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
