.details-outer {
  display: inline-flex;
  margin: 10px;

   .lunch-card {
      width: 250px;

      mat-card-header {
        justify-content: space-between;

        .mat-card-actions {
          margin-right: 0;
        }
      }
      
      .links {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
      }
   }
}
